h1 {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 43px 0;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.alicia-name{
    text-align: center;
    text-transform: uppercase;
}

.bouquet{
    border: 2px solid grey;
    margin: 3em;
}

.hi-cute{
    padding-top: 75%;
}



footer{
    margin-top: 2em;
    font-size: 0.5em;
    text-align: center;
}

.branch{
    margin-bottom: 2em;
    opacity: 0.05;
}

body{
    background-image: url("../images/crossword.png");
}


.category{
    height: 30em;
}
